html,
body {
    height: 100%;
    margin-top: 75px;
    background-color: rgb(211, 211, 211);

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

}

.container {
    max-width: 330px;
    padding: 1rem;
}


.container .form-group:focus-within {
    z-index: 2;
}

.container input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.container input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

h1 {
    color: rgb(108, 9, 127);
}

#logo {
    margin-left: 30px;

}

.form-group {
    font-weight: bolder;
}
