.App {
  text-align: center;
}

body,
ul {
  margin: 0;
  padding: 0;
}

nav {
  background-color: black;
  color: white;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 13px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: gray;
}

.total-row {
  display: flex;
}

.button-padding {
  padding: 0 10px;
}

.request-status {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(162, 161, 161);
  border-radius: 25px;
  padding: 4px 15px;
}
